{% extends "base.html" %}
{% block content %}
<h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
<p>
{% if user.courses %} Your course: <a href="{% url 'course-detail' user.courses %}" style="color:orange">{{user.courses}}</a>{% endif %}
</p>

{% endblock %}

{% block sidefeed %}
	{% if student %}
		<strong>Recent posts</strong><br>
		{% for message in messages%}
			{%if message.course in user.course_set.all%}
				<div class="well">
					<p><a href="{%url 'course-detail' message.course %}">{{message.course}}</a></p>
					<strong>{{message.title}}</strong>
					{% if message.content|make_list|length > 20 %}
					{{message.content|make_list|slice:':18'|join:''}}...
					{%else%}{{message.content}}
					{%endif%}<br>
					{{message.timestamp}}
				</div>
			{% endif%}
		{% endfor %}
	{%endif%}
{%endblock%}
